<section class="presentacion mt-5">
  <div class="container">
    <div class="row" *ngFor="let ezequiel of ezequiel">
      <div class="col-3">
        <img [src]="ezequiel.fotoperfil" alt="Foto de Perfil" class="rounded-circle img-fluid w-20 foto-perfil">
      </div>
      <div class="col-9 mt-5">
        <h1 class="text-center">Acerca de mí</h1>
        <h5 class="mt-3 text-center">{{ezequiel.posicion}}</h5>
        <h5 class="mt-3 text-center">{{ezequiel.aboutme}}</h5>
        <h5 class="mt-3 text-center" style="font-size: 1em;"><a [href]="ezequiel.rutacv" target="_blank">Mi currículum
            (pdf 204kb)</a></h5>
        <button type="button" class="btn btn-close-black"><i class="fa-solid fa-pencil"></i></button>
        <button type="submit" class="btn btn-close-black"><i class="fa-solid fa-trash-can"></i></button>
      </div>
    </div>
  </div>
</section>