<section class="educacion mt-5">
    <div class="container">
        <h1 class="text-center">Educación</h1>

        <div class="row" *ngFor="let estudio of estudios">
            <div class="row card mb-3 pt-3" style="max-width: 90vw;">
                <div class="row g-0">
                    <div class="col-md-2">
                        <img [src]="estudio.imagen" class="img-fluid rounded-start" [alt]="estudio.alt">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title"><strong>{{estudio.institucion}}</strong></h5>
                            <h6 class="card-title t-14 t-normal">{{estudio.titulo}}</h6>
                            <h6 class="card-title t-14 t-normal t-black--light">{{estudio.periodo}}</h6>
                            <p class="card-text display-flex align-items-center t-14 t-normal t-black"
                                style="font-size: medium">{{estudio.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>