<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
            <!-- Instagram -->
            <a class="ig footer btn btn-outline-light btn-floating m-1" [href]="instagram" role="button"
                target="_blank"><i class="fab fa-instagram"></i></a>

            <!-- Linkedin -->
            <a class="lk footer btn btn-outline-light btn-floating m-1" [href]="linkedin" role="button" target="_blank">
                <i class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="github footer btn btn-outline-light btn-floating m-1" [href]="github" role="button"
                target="_blank">
                <i class="fab fa-github"></i></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" [href]="linkedin" target="_blank">{{nombre}}</a>
    </div>
    <!-- Copyright -->
</footer>