<!-- NAVBAR -->
<nav class="navbar navbar-dark bg-darkblue fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="index.html">
            <img src="/assets/img/Logo_AP.png" alt="Logo_Argentina_programa" width="100 em" height="70 em">
        </a>
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item fa-1x "><a [href]="ezequiel.instagram" target="_blank"><i
                        class="fa-brands fa-instagram text-white"></i></a></li>
            <li class="list-group-item fa-1x"><a [href]="ezequiel.linkedin" target="_blank"><i
                        class="fa-brands fa-linkedin-in text-white"></i></a></li>
            <li class="list-group-item fa-1x"><a [href]="ezequiel.github" target="_blank"><i
                        class="fa-brands fa-github text-white"></i></a></li>
            <li class="list-group-item fa-1x">
                <!-- Botón Trigger Login -->
                <!-- Botón que abre Login-->
                <i data-bs-toggle="modal" data-bs-target="#LoginModal" class="fa-solid fa-user-lock text-white"></i>
                <!-- <a href="login" class="fa-solid fa-user-lock text-white"></a> -->
            </li>
        </ul>
    </div>
</nav>