<router-outlet></router-outlet>

<!--Pipes-->
{{title}}

<!--Poner en orden todos los selectores-->

<!--Selector Header-->
<app-header></app-header>

<!--Selector NavBar-->
<app-navbar></app-navbar>

<!--Selector About-Me -->
<app-about-me></app-about-me>

<!--Selector Educación-->
<app-educacion></app-educacion>

<!--Selector Experiencia-->
<app-experiencia></app-experiencia>

<!--Selector Index-->
<app-index></app-index>

<!--Selector Login-->
<app-login></app-login>

<!--Selector Logout-->
<app-logout></app-logout>

<!--Selector Navbar-->
<app-navbar></app-navbar>

<!--Selector page 404-->
<app-page404></app-page404>

<!--Selector Proyects-->
<app-proyects></app-proyects>

<!--Selector Skills-->
<app-skills></app-skills>

<!--Selector Footer-->
<app-footer></app-footer>