<form [formGroup]="form" (ngSubmit)="onEnviar($event)">
    <div>
        <label for="email">Email: </label>
        <input type="email" formControlName="email" />
    </div>

    <!-- Validador de mail -->
    <div *ngIf="Mail?.errors && Mail?.touched">
        <!-- Validador de requerimiento -->
        <p *ngIf="Mail?.hasError('required')" class="error">
            El email es requerido.
        </p>
        <!-- Validador de formatos -->
        <p *ngIf="Mail?.hasError('email')" class="error">
            El formato del email debe ser válido.
        </p>
    </div>
    <br />

    <div>
        <label for="usuario">Usuario: </label>
        <input type="usuario" formControlName="usuario" />
    </div>

    <!-- Validarores de usuarios -->
    <div *ngIf="Usuario?.errors && Usuario?.touched">
        <!-- Validador de requerimiento -->
        <p *ngIf="Usuario?.hasError('required')" class="error">
            El usuario es requerido.
        </p>
        <!-- Validador de formatos minimo de caracteres -->
        <p *ngIf="Usuario?.hasError('minlength')" class="error">
            El usuario debe contener al menos 5 caracteres.
        </p>
        <!-- Validador de formatos maximo de caracteres -->
        <p *ngIf="Usuario?.hasError('maxlenght')" class="error">
            El usuario debe contener como maximo 12 caracteres.
        </p>
    </div>

    <br />
    <div>
        <label for="exampleInputPassword1" class="form-label">Password: </label>
        <input type="password" formControlName="password" [class.border-danger]="MailValid" />
    </div>

    <!-- Validadores de password -->
    <div *ngIf="Password?.errors && Password?.touched">
        <p *ngIf="Password?.hasError('required')" class="error">
            El password es requerido.
        </p>
        <p *ngIf="Password?.hasError('minlength')" class="error">
            El password debe ser de 8 o más caracteres.
        </p>
    </div>
    <br />
    <div>
        <button type="submit">Iniciar Sesión</button>
    </div>
</form>

<div>
    <p>
        Un debuger para mostrar que es posible hacer un biding directo al formulario
        <strong>{{ form.value.email }} </strong><strong>{{ form.value.password }} </strong>
    </p>

    <p>
        <br />
    </p>
</div>