<section id="proyectos" class="proyectos mt-5">
    <div class="container">
        <h1 class="text-center">Proyectos</h1>
        <div class="card" style="width: 18rem;">
            <h3 class="text-center">Coming soon... </h3>
            <img src="/assets/img/meme_proyectos.jpg" class="img-fluid rounded" alt="Meme Proyectos">
            <div class="card-body">
                <p class="card-text">Sección en proceso de desarrollo, disculpe las molestias.</p>
            </div>
        </div>
    </div>
</section>