<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container" *ngFor="let proyecto of proyectos">
        <div>
            <h3>{{proyecto.titulo}}</h3>
            <h4>Ver proyecto en <a [href]="proyecto.link" target="_blank"><strong>{{proyecto.site}}</strong></a></h4>
            <p>{{proyecto.descripcion}}</p>

        </div>
        <div>
            <a [href]="proyecto.link" target="_blank"><img [src]="proyecto.imagen" class="img-fluid" [alt]="proyecto.alt"></a>
        </div>
    </div>

</div>