h1{
    text-align: center;
}

a{
    font-size: 1em;
}

a:hover{
    color: green;
    font-size: 1.10em;
}

img{
    padding-left: 5em;
    padding-right: 5em;
}

.container{
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5em;
}








