<section id="skills" class="skills mt-5">
    <div class="container">
        <h1 class="text-center mb-3">Hard & Soft Skills</h1>
        <!-- Creamos el ngfor para traer el array con la data de los skills -->
        <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
            <div class="card mb-3 "
                style="width: 33vw; min-width: 25em; max-height: 50vh; padding: 1em; margin: 1%;" *ngFor="let skill of skills">
                <!-- Inicio de componente carta -->
                <div class="row g-0">
                    <div class="col-md-2">
                        <!-- Usamos data binding para traer el src y el alt de nuestra imagen -->
                        <img [src]="skill.imagen" class="img-fluid justify-content-center" style="height: 10vh; width: 9vw; margin: 10%;" [alt]="skill.alt">
                    </div>
                    <div class="col-md-10">
                        <div class="card-body">
                            <div class="container">
                                <h5 class="card-title" style="text-align: start; font-size: 2vh;">{{skill.titulo}}</h5>
                                <p class="card-text" style="text-align: justify; font-size: 1.8vh;">
                                    {{skill.descripcion}}
                                </p>
                                <br>
                            </div>
                            <div id="progressbar" class="progress justify-content-center justify-content-md-start" style="height: 3em">
                                <!-- Para la progress bar tuve que crear dos datos en cada elemento del array
                                        Uno para el número que va en la barra y otro para la "Cantidad de relleno" de la barra
                                        por eso en la etiqueta del div en donde pone [style] utilizo databinding para completar ese dato
                                        no se si es la mejor forma pero es lo que pude arreglar y me funcionó por ahora-->
                                <div class="progress-bar progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-label="Animated striped example" aria-valuenow="75"
                                    aria-valuemin="0" aria-valuemax="100" style= "width:{{skill.porcentaje}}%">
                                    {{skill.porcentaje}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>