<div class="container" *ngIf="datoseze">

    <div class=" modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edicion de Datos de Ezequiel Nieva</h5>
            <a href="index.html">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </a>
        </div>

        <form [formGroup]="form" (ngSubmit)="onUpdate()" name="datosezeForm" class="bg-white rounded p-5 seccion">
            <div class="modal-body">

                <!-- Ingreso de nombre-->
                <input type="hidden" formControlName="id" [ngModel]="datoseze.id">
                <div class="mb-3">
                    <label for="nombre" class="form-label">Modificar Nombre<span class="text-danger"></span></label>

                    <input class="form-control" type="text" id="nombre" formControlName="nombre" id="nombre"
                        placeholder="Nombre nuevo" [ngModel]="datoseze.nombre"
                        [ngClass]="{'is-invalid': Nombre?.errors && Nombre?.touched, 'isvalid': !Nombre?.errors && !Nombre?.touched}">

                    <div *ngIf="Nombre?.errors && Nombre?.touched" class="invalid-feedback">
                        El nombre es requerido
                    </div>

                </div>
                <!-- Boton Submit, que siempre debe estar dentro del formulario-->
                <div class="modal-footer">
                    <button type="submit" class="btn btnLogin">Guardar Cambios</button>
                </div>

            </div>
        </form>
    </div>
</div>